.navbar {
  width: 100%;
  background-color: #0462f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar ul li {
  margin-right: 0.5rem;
  color: white;
  font-weight: 500;
}

.navbar ul li:hover {
  cursor: pointer;
}
.navbar h2 {
  color: white;
}
